@keyframes slideInFromBottom {
  0% {
    transform: translateY(10%);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.menu {
  width: 1000px;
  border-radius: 25px;
  background-color: white;
  padding: 20px 30px 20px 30px;
  margin: auto;
  margin-top: 50px;
  animation: 0.5s linear slideInFromBottom;
}
